<!-- login.page.html -->
<ion-content class="ion-padding">
  <div class="back">
    <div style="background-color: #E6F4DF;">
      <div class="inputs-container">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input name="email" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" type="password" required></ion-input>
        </ion-item>

        <ion-button expand="full">Button</ion-button>
      </div>
    </div>
  </div>

  <!-- Container with Email and Password Inputs -->

</ion-content>
